:root {
  --bg: #f5f5f5;
  --bg-light: #4c566a;
  --color-primary: #5e81ac;
  --color-primary-light: #88c0d0;
  --color-primary-dark: #577dac;
  --fg: #2e3440;
  --fg-light: #d8dee9;
  --transparency: #00000000; }

.darktheme {
  --bg: #292e39;
  --bg-light: #2e3440;
  --color-primary: #88c0d0;
  --color-primary-light: #96bcc7;
  --color-primary-dark: #5e81ac;
  --fg: #d8dee9;
  --fg-light: #2e3440; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: 0.2s ease-in-out; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--fg);
  background-color: var(--bg);
  height: 100vh;
  overflow: hidden; }

.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; }

.header {
  padding: 3rem;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 10rem; }
  .header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header__navigation-link {
      margin-right: 2rem;
      text-decoration: none;
      color: var(--fg);
      font-weight: 300;
      font-size: 2rem;
      border-radius: 5px;
      transition: 0.3s all ease-in-out;
      padding: 0.5rem; }
      .header__navigation-link:hover {
        background-color: var(--fg-light); }
    .header__navigation-button {
      border: none;
      color: var(--fg);
      cursor: pointer;
      background-color: #00000000;
      -webkit-appearance: none;
      -moz-appearance: none; }

.index {
  scroll-snap-align: center;
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  animation: fadeUp 2s; }
  @media only screen and (max-width: 56.25em) {
    .index {
      flex-direction: column; } }
  .index__photo {
    width: 25%;
    height: 25vw;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-right: -7rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4); }
    @media only screen and (max-width: 56.25em) {
      .index__photo {
        margin: auto;
        width: 32%;
        height: 32vw;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .index__photo {
        margin: auto;
        width: 36%;
        height: 36vw;
        margin-bottom: 2rem; } }
    .index__photo img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .index__text {
    color: var(--fg);
    text-align: center;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .index__text {
        display: flex;
        flex-direction: column; } }
    .index__text-primary {
      font-size: 8rem;
      font-weight: 300;
      margin-bottom: 1rem; }
      @media only screen and (max-width: 31.25em) {
        .index__text-primary {
          font-size: 6.2rem; } }
    .index__text-secondary {
      font-size: 3rem;
      margin-bottom: 3rem;
      font-weight: 400;
      color: var(--color-primary); }
    .index__text-special {
      font-size: 8rem;
      font-weight: 700; }
      @media only screen and (max-width: 37.5em) {
        .index__text-special {
          display: block;
          font-size: 6.2rem; } }
  .index .txt-type {
    color: var(--color-primary); }
  .index .txt-type > .txt {
    border-right: 0.3rem solid var(--color-primary-light); }
  .index__links {
    margin-bottom: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .index__links {
        margin: 3rem 0; } }
    .index__links-button:not(:last-child) {
      margin-right: 3rem; }
    .index__links-icon {
      width: 3.2rem;
      height: 3.2rem;
      transition: all 0.2s ease-in-out;
      color: var(--fg); }
      @media only screen and (max-width: 56.25em) {
        .index__links-icon {
          width: 4.5rem;
          height: 4.5rem; } }
      .index__links-icon-1:hover {
        color: var(--color-primary-dark); }
      .index__links-icon-2:hover {
        color: var(--color-primary); }
      .index__links-icon-3:hover {
        color: var(--color-primary-light); }

@keyframes fadeUp {
  from {
    transform: translatey(100%);
    opacity: 0; }
  to {
    transform: translatey(0);
    opacity: 1; } }

.about {
  margin-top: 10rem;
  padding: 10rem;
  padding-top: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  scroll-snap-align: center; }
  .about__title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem; }
  .about__text {
    width: 90%;
    color: var(--fg);
    font-size: 2.2rem; }
    .about__text-p {
      font-weight: 400;
      margin-bottom: 2rem;
      text-align: justify; }
      @media only screen and (max-width: 37.5em) {
        .about__text-p {
          font-size: 2.2rem; } }
    .about__text-special {
      font-weight: 700;
      color: var(--color-primary); }
    .about__text-special2 {
      font-style: italic; }
  .about__photo {
    margin-left: 10rem; }
    .about__photo img {
      border-radius: 0.5rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4); }
  .about__button {
    border-radius: 0.5rem;
    border: 0.3rem solid var(--bg-light);
    text-decoration: none;
    padding: 1rem;
    color: var(--color-primary);
    cursor: pointer;
    background-color: var(--transparency);
    -webkit-appearance: none;
    -moz-appearance: none; }
    .about__button:hover {
      border: 0.3rem solid var(--color-primary); }
    .about__button:hover a {
      color: var(--color-primary); }
    .about__button-link {
      text-decoration: none;
      color: var(--fg);
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.9rem; }
    .about__button-icon {
      margin-right: 0.5rem;
      width: 2rem;
      height: 2rem; }

.projects {
  padding: 10rem;
  scroll-snap-align: center; }
  .projects__title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: right; }
