*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #777;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  background-color: white;
  overflow: hidden; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  height: 4.25rem;
  margin-left: 2rem;
  padding: 3.5rem 1rem; }
  @media only screen and (max-width: 56.25em) {
    .logo {
      height: 6rem; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #028090;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 3rem;
  right: 3rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      height: 6rem;
      width: 6rem; } }

.navigation__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 3.5rem;
  right: 3.5rem;
  background-image: radial-gradient(#1a5e63, #00bfb2);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      height: 5rem;
      width: 5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -50rem;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__icon-link {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 1.3rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 4rem;
  font-weight: 400;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.4s;
  border-radius: 2rem; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #028090;
  transform: translateX(1rem);
  outline: none;
  border-radius: 5rem; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  left: 0; }

.navigation__icon {
  position: relative;
  margin-top: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    .navigation__icon {
      margin-top: 3rem; } }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #fff;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button {
  background-color: #fff; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
  background-color: #028090; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
  background-color: #028090; }

.content {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }
  .content__photo {
    width: 22%;
    height: 22vw;
    border-radius: 50%;
    overflow: hidden;
    border: 1.7rem solid #028090;
    position: relative;
    margin-right: -7rem; }
    @media only screen and (max-width: 56.25em) {
      .content__photo {
        margin: auto;
        width: 32%;
        height: 32vw;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .content__photo {
        margin: auto;
        width: 36%;
        height: 36vw;
        margin-bottom: 2rem; } }
    .content__photo img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .content__text {
    color: #262626;
    text-align: center;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .content__text {
        display: flex;
        flex-direction: column; } }
    .content__text-primary {
      font-size: 8rem;
      font-weight: 300;
      margin-bottom: 1rem; }
      @media only screen and (max-width: 31.25em) {
        .content__text-primary {
          font-size: 6.2rem; } }
    .content__text-secondary {
      font-size: 2rem; }
    .content__text-special {
      font-weight: 700;
      transition: all 0.5s ease-in-out;
      animation: wave 5s ease-in-out infinite;
      background-image: linear-gradient(to top, #1a5e63, #00bfb2);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      letter-spacing: 0.2rem;
      transition: all 0.2s; }
      @media only screen and (max-width: 37.5em) {
        .content__text-special {
          display: block; } }
  .content .txt-type > .txt {
    border-right: 0.2rem solid black; }
  .content__links {
    margin-top: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .content__links {
        margin-top: 3rem; } }
    .content__links-button:not(:last-child) {
      margin-right: 3rem; }
    .content__links-icon {
      width: 3.2rem;
      height: 3.2rem;
      transition: all 0.2s ease-in-out; }
      @media only screen and (max-width: 56.25em) {
        .content__links-icon {
          width: 4.5rem;
          height: 4.5rem; } }
      .content__links-icon:hover {
        transform: translateY(-0.8rem); }
      .content__links-icon-1 {
        color: #1a5e63; }
      .content__links-icon-2 {
        color: #028090; }
      .content__links-icon-3 {
        color: #00bfb2; }

@keyframes wave {
  0%,
  100% {
    clip-path: polygon(0 13%, 14% 12%, 27% 19%, 35% 32%, 51% 34%, 60% 37%, 71% 26%, 83% 17%, 91% 12%, 100% 6%, 100% 99%, 1% 99%); }
  50% {
    clip-path: polygon(0 28%, 12% 38%, 26% 38%, 38% 20%, 49% 10%, 59% 9%, 71% 13%, 79% 32%, 90% 38%, 100% 42%, 100% 99%, 1% 99%); } }
