$color-primary: #028090;
$color-primary-light: #00bfb2;
$color-primary-dark: #1a5e63;
$color-primary-darker: #2c3e50;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f5f5f5;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #262626;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;
$color-grey-dark-4: #1f1e1e;

$color-white: #fff;
$color-black: #000;

$bp-largest: 75em;
$bp-large: 68.75em;
$bp-medium: 56.25em;
$bp-small: 37.5em;
$bp-smallest: 31.25em;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-grey-dark-2;

  height: 100vh;
  background-color: white;
  overflow: hidden;
}
