.header {
    padding: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10rem;

    &__navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-link {
            margin-right: 2rem;
            text-decoration: none;
            color: var(--fg);

            font-weight: 300;
            font-size: 2rem;

            border-radius: 5px;
            transition: 0.3s all ease-in-out;
            padding: 0.5rem;
            &:hover {
                background-color: var(--fg-light);
            }
        }

        &-button {
            border: none;

            color: var(--fg);

            cursor: pointer;

            background-color: #00000000;

            -webkit-appearance: none;
            -moz-appearance: none;
        }
    }
}
.index {
    scroll-snap-align: center;
    margin-top:  8rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }

    animation: fadeUp 3s;

    &__photo {
        width: 25%;
        height: 25vw;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin-right: -7rem;
        box-shadow: 0 1rem 3rem rgba($color-black, 0.4);

        @media only screen and (max-width: $bp-medium) {
            margin: auto;
            width: 32%;
            height: 32vw;
            margin-bottom: 2rem;
        }
        @media only screen and (max-width: $bp-small) {
            margin: auto;
            width: 45%;
            height: 45vw;
            margin-bottom: 2rem;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__text {
        color: var(--fg);
        text-align: center;
        position: relative;

        @media only screen and (max-width: $bp-small) {
            display: flex;
            flex-direction: column;
        }
        &-primary {
            font-size: 8rem;
            font-weight: 300;
            margin-bottom: 1rem;
            @media only screen and (max-width: $bp-smallest) {
                font-size: 6.2rem;
            }
        }
        &-secondary {
            font-size: 3rem;
            margin-bottom: 3rem;
            font-weight: 400;
            color: var(--color-primary);
        }
        &-special {
            font-size: 8rem;
            font-weight: 700;
            @media only screen and (max-width: $bp-small) {
                display: block;
                font-size: 6.2rem;
            }
        }
    }

    .txt-type {
        color: var(--color-primary);
    }
    .txt-type > .txt {
        border-right: 0.3rem solid var(--color-primary-light);
    }

    &__links {
        margin-bottom: 1rem;
        @media only screen and (max-width: $bp-medium) {
            margin: 3rem 0;
        }

        &-button {
            &:not(:last-child) {
                margin-right: 3rem;
            }
        }
        &-icon {
            width: 3.8rem;
            height: 3.8rem;
            transition: all 0.1s ease-in-out;
            color: var(--fg);
            @media only screen and (max-width: $bp-medium) {
                width: 4.5rem;
                height: 4.5rem;
            }
            &-1:hover {
                color: var(--color-primary-dark);
            }
            &-2:hover {
                color: var(--color-primary);
            }
            &-3:hover {
                color: var(--color-primary-light);
            }
        }
    }
}

@keyframes fadeUp {
    from {
        transform: opacity(100%);
        opacity: 0;
    }
    to {
        transform: opacity(0);
        opacity: 1;
    }
}

.about {
    padding: 5rem 10rem;
    margin-bottom: 10rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 5rem;
    }

    display: flex;
    align-items: center;
    justify-content: space-around;
    scroll-snap-align: center;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }

    &__title {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;

        @media only screen and (max-width: $bp-medium) {
            font-size: 4rem;
        }
    }

    &__text {
        width: 90%;

        color: var(--fg);
        font-size: 2.2rem;
        &-p {
            font-weight: 400;
            margin-bottom: 2rem;
            
            @media only screen and (max-width: $bp-medium) {
                font-size: 2.2rem;
            }
        }
        &-f {
            font-weight: 400;
            @media only screen and (max-width: $bp-medium) {
                display: none;
            }
        }
        &-special {
            font-weight: 700;
            color: var(--color-primary);
        }

        &-special2 {
            font-style: italic;
        }
    }

    &__photo {
        margin-left: 10rem;

        @media only screen and (max-width: $bp-medium) {
            margin-left: 5rem;
            margin-top: 5rem;
        }

        @media only screen and (max-width: $bp-small) {
            margin-left: 7rem;
            margin-top: 5rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            margin-left: 5rem;
            margin-top: 5rem;
        }

        & img {
            border-radius: 0.5rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            box-shadow: 0 1rem 3rem rgba($color-black, 0.4);

            @media only screen and (max-width: $bp-medium) {
                width: 80%;
                height: 80%;
            }
        }
    }

    &__button {
        border-radius: 0.5rem;
        border: 0.3rem solid var(--bg-light);
        text-decoration: none;

        padding: 1rem;

        color: var(--color-primary);
        cursor: pointer;
        background-color: var(--transparency);
        -webkit-appearance: none;
        -moz-appearance: none;

        &:hover {
            border: 0.3rem solid var(--color-primary);
        }

        &:hover a {
            color: var(--color-primary);
        }

        &-link {
            text-decoration: none;
            color: var(--fg);
            font-weight: 500;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 1.9rem;
        }

        &-icon {
            margin-right: 0.5rem;
            width: 2rem;
            height: 2rem;
        }
    }
}

.projects {
    padding: 3rem 15rem;
    scroll-snap-align: center;
    
    @media only screen and (max-width: $bp-medium) {
        padding: 7rem;
    }


    &__title {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 3rem;

        text-align: right;

        @media only screen and (max-width: $bp-medium) {
            font-size: 4rem;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 5rem;

        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }

        @media only screen and (max-width: $bp-small) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }
    }

    &__project {
        background-color: var(--bg-card);
        border-radius: 0.5rem;

        text-decoration: none;
        color: var(--fg);

        box-shadow: 0 0.7rem 2rem rgba($color-black, 0.1);

        &-1 {
            grid-row: 1;
            grid-column: 1;
            @media only screen and (max-width: $bp-medium) {
                grid-row: 1;
                grid-column: 1;
            }
            @media only screen and (max-width: $bp-small) {
                grid-row: 1;
                grid-column: 1;
            }
        }
        &-2 {
            grid-row: 2;
            grid-column: 1;
            @media only screen and (max-width: $bp-medium) {
                grid-row: 1;
                grid-column: 2;
            }
            @media only screen and (max-width: $bp-small) {
                grid-row: 2;
                grid-column: 1;
            }
        }
        &-3 {
            grid-row: 1;
            grid-column: 2;
            @media only screen and (max-width: $bp-medium) {
                grid-row: 2;
                grid-column: 1;
            }
            @media only screen and (max-width: $bp-small) {
                grid-row: 3;
                grid-column: 1;
            }
        }
        &-4 {
            grid-row: 2;
            grid-column: 2;
            @media only screen and (max-width: $bp-medium) {
                grid-row: 2;
                grid-column: 2;
            }
            @media only screen and (max-width: $bp-small) {
                grid-row: 4;
                grid-column: 1;
            }
        }
        &-5 {
            grid-row: 1;
            grid-column: 3;
            @media only screen and (max-width: $bp-medium) {
                grid-row: 3;
                grid-column: 1;
            }
            @media only screen and (max-width: $bp-small) {
                grid-row: 5;
                grid-column: 1;
            }
        }
        &-6 {
            grid-row: 2;
            grid-column: 3;
            @media only screen and (max-width: $bp-medium) {
                grid-row: 3;
                grid-column: 2;
            }
            @media only screen and (max-width: $bp-small) {
                grid-row: 6;
                grid-column: 1;
            }
        }

        &:hover {
            transform: translateY(-0.2rem);
            box-shadow: 0 1rem 2.5rem rgba($color-black, 0.3);
        }
    }
}

.project {
    &__image {
        background-size: cover;
        height: 20rem;
        border-radius: 0.5rem;

        @media only screen and (max-width: $bp-medium) {
            height: 25rem;
        }

        &-1 {
            background-image: url(../img/project1.png);
        }
        &-2 {
            background-image: url(../img/project2.png);
        }
        &-3 {
            background-image: url(../img/project3.png);
        }
        &-4 {
            background-image: url(../img/project4.png);
        }
        &-5 {
            background-image: url(../img/project5.png);
        }
        &-6 {
            background-image: url(../img/project6.png);
        }
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__stars {
        font-size: 1.5rem;
        font-weight: 300;
        display: flex;
        align-items: center;
        justify-content: center;

        &-icon {
            width: 2rem;
            height: 2rem;
            margin-right: .5rem;

            color: #EBCB8B;
        }
    }

    &__text {
        padding: 2rem;
        @media only screen and (max-width: $bp-medium) {
            padding: 3rem;
        }
    }

    &__title {
        font-size: 2rem;
        font-weight: 700;

        @media only screen and (max-width: $bp-medium) {
            font-size: 3rem;
        }
    }

    &__description {

        margin-top: 1rem;
        font-weight: 300;
        font-size: 1.5rem;

        @media only screen and (max-width: $bp-medium) {
            font-size: 1.9rem;
        }
    }
}
