////////////////
// H E A D E R
///////////////
.header {
    padding: 3rem;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 10rem;

    &__navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-link {
            margin-right: 2rem;
            text-decoration: none;
            color: var(--fg);

            font-weight: 300;
            font-size: 2rem;

            border-radius: 5px;
            transition: 0.3s all ease-in-out;
            padding: 0.5rem;
            &:hover {
                background-color: var(--fg-light);
            }
        }

        &-button {
            border: none;

            color: var(--fg);

            cursor: pointer;

            background-color: #00000000;

            -webkit-appearance: none;
            -moz-appearance: none;
        }
    }
}

////////////////
// M A I N
///////////////
.index {
    margin-top: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }

    &__photo {
        width: 25%;
        height: 25vw;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin-right: -7rem;
        box-shadow: 0 1rem 3rem rgba($color-black, 0.4);

        @media only screen and (max-width: $bp-medium) {
            margin: auto;
            width: 32%;
            height: 32vw;
            margin-bottom: 2rem;
        }
        @media only screen and (max-width: $bp-small) {
            margin: auto;
            width: 36%;
            height: 36vw;
            margin-bottom: 2rem;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__text {
        color: var(--fg);
        text-align: center;
        position: relative;

        @media only screen and (max-width: $bp-small) {
            display: flex;
            flex-direction: column;
        }
        &-primary {
            font-size: 8rem;
            font-weight: 300;
            margin-bottom: 1rem;
            @media only screen and (max-width: $bp-smallest) {
                font-size: 6.2rem;
            }
        }
        &-secondary {
            font-size: 3rem;
            margin-bottom: 3rem;
            font-weight: 400;
            color: var(--color-primary);
        }
        &-special {
            font-size: 8rem;
            font-weight: 700;
            @media only screen and (max-width: $bp-small) {
                display: block;
                font-size: 6.2rem;
            }
        }
    }

    .txt-type {
        color: var(--color-primary);
    }
    .txt-type > .txt {
        border-right: 0.3rem solid var(--color-primary-light);
    }

    &__links {
        margin-bottom: 1rem;
        @media only screen and (max-width: $bp-medium) {
            margin: 3rem 0;
        }

        &-button {
            &:not(:last-child) {
                margin-right: 3rem;
            }
        }
        &-icon {
            width: 3.2rem;
            height: 3.2rem;
            transition: all 0.2s ease-in-out;
            color: var(--fg);
            @media only screen and (max-width: $bp-medium) {
                width: 4.5rem;
                height: 4.5rem;
            }
            &-1:hover {
                color: var(--color-primary-dark);
            }
            &-2:hover {
                color: var(--color-primary);
            }
            &-3:hover {
                color: var(--color-primary-light);
            }
        }
    }
}

.about {
    margin-top: 15rem;
    padding: 10rem;

    display: flex;
    align-items: center;
    justify-content: space-around;

    &__title {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }


    &__text {

        width: 90%;

        color: var(--fg);
        font-size: 2.2rem;
        &-p {
            font-weight: 400;
            margin-bottom: 2rem;
            text-align: justify;
            @media only screen and (max-width: $bp-small) {
                font-size: 2.2rem;
            }
        }
        &-special {
            font-weight: 700;
            color: var(--color-primary);
        }

        &-special2 {
            font-style: italic;
        }
    }

    &__photo {
        margin-left: 10rem;

        & img {
            border-radius: .5rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            box-shadow: 0 1rem 3rem rgba($color-black, 0.4);
        }
    }
    
}


/////////////////////
// P R O J E C T S
////////////////////

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    &__title {
        font-size: 6.5rem;
        font-weight: 700;
        margin-bottom: 4rem;
        transition: all 0.5s ease-in-out;
        animation: wave 5s ease-in-out infinite;

        background-image: linear-gradient(
            to top,
            var(--color-primary)-dark,
            var(--color-primary)-light
        );

        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        letter-spacing: 0.2rem;
        transition: all 0.2s;

        @media only screen and (max-width: $bp-smallest) {
            font-size: 6rem;
        }
    }
    &__pcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 0;
    width: 65vw;
    border-radius: 2rem;
    padding: 3rem;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.4);
    transition: all 0.3s ease-in-out;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }

    &--1 {
        background-image: linear-gradient(
            to bottom,
            var(--color-primary)-light,
            var(--color-primary)
        );
    }
    &--2 {
        background-image: linear-gradient(
            to bottom,
            var(--color-primary),
            var(--color-primary)-dark
        );
    }
    &--3 {
        background-image: linear-gradient(
            to bottom,
            var(--color-primary)-dark,
            var(--color-primary)-darker
        );
    }

    &:hover {
        transform: translateY(-1rem);
    }

    &__img {
        width: 23rem;
        height: 23rem;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin-right: -7rem;
        border: 0.8rem solid $color-white;

        @media only screen and (max-width: $bp-medium) {
            margin: auto;
            width: 20rem;
            height: 20rem;
            margin-bottom: 2rem;
        }
        @media only screen and (max-width: $bp-small) {
            margin: auto;
            width: 25rem;
            height: 25rem;
            margin-bottom: 2rem;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50vw;
        color: $color-white;
        @media only screen and (max-width: $bp-small) {
            width: 80vw;
        }
    }
    &__title {
        font-size: 5rem;
        text-align: left;
        font-weight: 700;
    }
    &__description {
        font-size: 1.8rem;
        text-align: justify;
        max-width: 80%;
        font-weight: 500;
        margin: 1.2rem 0;
        @media only screen and (max-width: $bp-medium) {
            font-size: 2rem;
        }
    }
    &__buttons {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
}
.btn,
.btn:link,
.btn:visited {
    font-size: 1.5rem;
    text-decoration: none;
    color: $color-white;
    border-radius: 2.5rem;
    border: 0.3rem solid $color-white;
    padding: 1.5rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;

    &:not(:last-child) {
        margin-right: 1.5rem;
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 1.7rem;
    }

    &:hover {
        background-color: $color-white;
        color: var(--color-primary);
    }
}
/////////////////////
// A N I M A T I O N
////////////////////
@keyframes wave {
    0%,
    100% {
        clip-path: polygon(
            0 13%,
            14% 12%,
            27% 19%,
            35% 32%,
            51% 34%,
            60% 37%,
            71% 26%,
            83% 17%,
            91% 12%,
            100% 6%,
            100% 99%,
            1% 99%
        );
    }
    50% {
        clip-path: polygon(
            0 28%,
            12% 38%,
            26% 38%,
            38% 20%,
            49% 10%,
            59% 9%,
            71% 13%,
            79% 32%,
            90% 38%,
            100% 42%,
            100% 99%,
            1% 99%
        );
    }
}
